.Title{
    padding-right: 12px;
    padding-left: 12px;
    font-weight: bold;
    font-size: 20px;
    color: grey;
}

.task-input{
  height: 52px;
  padding: 0 25px;
  position: relative;
}

.taskInput input{
  height: 100%;
  width: 70%;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 0 20px 0 53px;
  border: 1px solid #999;
}