@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.ListItem{
    color: whitesmoke;
    font-size: 20px;
    list-style: none;
    align-self: center;
    font-family: "Shantell Sans", cursive, "Ubuntu", sans-serif;
}
