.todoList{
    list-style: none;
    font-size: 17px;
    margin-bottom: 10px;
    padding-bottom: 9px;
    align-items: flex-start;
    border-bottom: 1px solid #ccc ;
  }
  .todoList:last-child{
    margin-bottom: 0;
    border-bottom: 0;
    padding: 0;
  }

  .checkedBtn{
    margin-top:  6px;
    margin-right: 12px;
  }

  .deleteBtn{
    margin-top:  6px;
    margin-left: 12px;
  }