@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 20px;
  background: linear-gradient(to left, #8cc0c3, #83d4ae);
  font-family: "Shantell Sans", cursive, "Ubuntu", sans-serif;
}

.wrapper{
  max-width: 405px;
  padding: 28px 0 30px;
  margin: 137px auto;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.todoTitle{
  text-decoration: underline;
  text-align: center;
  padding-bottom: 5px;
  color: gray;
}

@media (max-width: 400px) {
  body{
      padding: 0 10px;
  } 
  .wrapper{
      padding: 20px;
  }
  .checkedBtn{
      padding: 0 20px;

  }
  .task-box{
      margin-top: 20px;
      margin-right: 5px;
      padding: 0 15px 10px 20px;
  }
  .deleteBtn{
      margin-top: 4px;
  }
}